#include <stdio.h>
#include <math.h>

int main() {
    int p;
    printf("Введіть кількість розрядів (p ≤ 30): ");
    scanf("%d", &p);

    int result = 6;  // Початкове значення result

    if (p <= 1) {
        result = 0;  // Якщо p менше або дорівнює 1, result = 0
    }
    else if (p == 2) {
        result = 2;  // Якщо p = 2, result = 2
    }
    else {
        for (int i = 0; i < p - 3; i++) {
            result = result + 2 * pow(2, i);  // Обчислення result для p > 2
        }
    }

    printf("Result - %d\n", result);  // Виведення значення result

}
