#include <stdio.h>
#define MAX 32

int m[MAX];  // Масив для збереження чисел

int main() {
    int p;  // Змінна для збереження введеного числа
    printf("Введіть число p: ");
    scanf("%d", &p);  // Зчитування числа p з консолі
    
    m[1] = 2;  // Ініціалізація першого числа
    m[2] = 4;  // Ініціалізація другого числа
    
    // Обчислення наступних чисел за допомогою циклу
    for (int i = 3; i <= p; i++) {
        m[i] = m[i - 1] + m[i - 2];  // Обчислення наступного числа як суми двох попередніх чисел
    }
    
    printf("Значення m[%d]: %d\n", p, m[p]);  // Виведення значення m[p], де p - введене число
    
    return 0;
}

